
// COLOR THEMES VARIABLES 
$light_base: #DCE1DE;
$dark_base: #1F2421;

$dark_accent: #216869;
$light_accent: #6DB57F;

$dark_secondary: #412722;

// FONT FAMILY VARIABLES

$header_font: 'Cuprum';
$body_font: 'Roboto';